.swiper_conteiner {
    margin-bottom: 30px;
}

.swiper-slide {
    width: 33.33% !important;
    height: 400px !important;

}

.swiper-slide>img {
    border: 1px solid;
    height: 400px;
    width: 100%;
}